.container {
	margin: 2rem 4rem;
	display: flex;
	justify-content: center;

	.heading {
		display: flex;
		align-items: center;
		font-size: 2rem;
		padding: 2rem;
	}

	.mes {
		display: flex;
		align-items: center;
		white-space: pre-wrap;
		font-size: 1.5rem;
		padding: 0 2rem;
	}
}