.container {
	margin: 2rem 4rem;
	display: flex;
	justify-content: center;

	.paper_container {
		width: 60%;

		.heading {
			display: flex;
			align-items: center;
			font-size: 2rem;
			padding: 0 2rem;
		}

		.table_container {


			table {
				td {
					font-size: 1.4rem;
					color: var(--black);
					font-weight: 500;
					padding: 10px 2rem;
					border: none;
				}

			}

		}

	}

}